@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Sen&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #efefef;
  background-size: cover;
}
:root{
  --color-negro:#000;
  --color-fondo:#efefef;
  --color-nav:#1a202c;
  --color-celeste:#16B0DD;
  --color-rosa:#BA74BD;
  --color-verde: #83B746;
 
}
/*---- HEADER NAV ----*/

.menu__logo a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
}

.menu {
  /*background-image: linear-gradient(180deg, #667eea 0, #764ba2 100%);*/
  background-color: var(--color-nav);
  height: 70px;
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.menu__links {
  height: 100%;
  transition: transform 0.5s;
  display: flex;
}

.menu__item {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.menu__item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

.menu__link {
  color: #fff;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;
}

.menu__link:hover {
  background-color: var(--color-celeste);
}

.menu__arrow {
  transform: var(--transform);
  transition: transform 0.3s;
  display: block;
  margin-left: 3px;
}

.menu__nesting {
  list-style: none;
  transition: clip-path 0.3s;
  clip-path: var(--clip);
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  /**background-image: linear-gradient(180deg, #667eea 0, #764ba2 100%);*/
  background-color: var(--color-nav);
}

.menu__link--inside {
  padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover {
  background-color: var(--color-celeste);
}

.menu__hamburguer {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
  display: none;
}

.menu__img {
  display: block;
  width: 36px;
}

/*------ FONDO -----*/
.fondo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #efefef;
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/codigo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  cursor: context-menu;
}
.titulo {
  margin-bottom: 14px;
}
.fondo img {
  border: solid 3px var(--color-verde);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
}

.fondo img:hover {
  border: solid 4px var(--color-celeste);
  width: 210px;
  height: 210px;
  transition: 0.3s;
  opacity: 0.9;
}



.fondo i {
  margin: 10px;
  color: var(--color-rosa);
  font-size: 22px;
}
.fondo i:hover {
  rotate: 360deg;
  transition: 0.3s;
}
.analist {
  color: #fff;
}

/*---- MAIN ----*/
main {
  background-color: #000;

  color: #fff;
  height: 100%;
  cursor: context-menu;
}

/*---- section ---*/
.section{
  color: #000;
  height: 100vh;
  background-color: var(--color-fondo);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section2{
    color: #fff;
  height: 100vh;
  background-color: var(--color-negro);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contenido{
  margin-top: 40px;
}

.academica__conteiner{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.cajas__academica{
  border-radius: 5%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  margin-right:18px ;
  padding: 10px;
  width: 300px;
  height: auto;
  border: 1px solid var(--color-celeste);
}
.img__cont{
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img__section{
  width: 100px;
  height: auto;
}

/*---- FOOTER ----*/

footer {
-webkit-box-shadow: 0px -6px 53px 1px rgba(186,116,189,1);
-moz-box-shadow: 0px -6px 53px 1px rgba(186,116,189,1);
  box-shadow: 0px -6px 53px 1px rgba(186,116,189,1);
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
  padding-top: 25px;
  cursor: pointer;
  background-color: var(--color-negro);
}
#copy {
  font-size: 10px;
  color: #777;
  text-align: center;
  font-family: "Sen", sans-serif;
  cursor: context-menu;
}
.redes {
  display: flex;
  justify-content: center;
  margin-top: 2px;
}
.redes a {
  text-decoration: none;
  color: #fff;
  padding: 15px 12px;
  font-size: 20px;
}
.redes a:hover {
  rotate: 360deg;
  transition: 0.5s 0.1s;
}
.fa-instagram:hover {
  color: #d300c5;
}
.fa-twitter:hover {
  color: rgb(29, 155, 240);
}
.fa-github:hover {
  color: #24292f;
}
.fa-linkedin:hover {
  color: #0a66c2;
}
.fa-whatsapp:hover {
  color: #25d366;
}

/*---- BANDERA ARG ----*/
.arg a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.arg img {
  width: 30px;
  height: 30px;
  align-self: flex-end;
  margin-right: 20px;
  margin-bottom: 5px;
}

/*DISPOSITIVOS MOVILES*/
@media screen and  (min-width:320px) AND (max-width:1023px){

  .menu {

    width: 100%;
position: fixed;
}
    .menu__hamburguer{
        display: flex;
    }

    .menu__item{
        --clip:0;
        overflow:hidden ;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show{
        background-color: var(--background);
    }


    .menu__links{
        position: fixed;
        max-width: 425px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: var(--color-nav);
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show{
        transform: unset;
        width: 100%;
    }

    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid  var(--color-celeste);
    }

    /*FONDO*/

.titulo {
  margin-bottom: 10px;
}
.fondo img {
  object-fit: cover;
  width: 180px;
  height: 180px;
  margin-bottom: 10px;
}

.fondo img:hover {
  width: 190px;
  height: 190px;
}

.fondo i {
  font-size: 19px;
}
.fondo i:hover {
  rotate: none;
  transition: none;
}
  /*MAIN*/
  .section{
  height: 100%;
}

.section2{
  height: 100%;
}

.contenido{
  margin-top: 15px;
  margin-bottom: 25px;
}
.cajas__academica{
  border-radius: 5%;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
  margin:10px ;
  padding: 10px;
  width: 300px;
  height: auto;
  border: 1px solid var(--color-celeste);
}

  .experiencia{
    width: 290px;
    height: auto;
    text-align: center;
  }
}
@media screen and  (min-width:320px) AND (max-width:425px){
  h1{font-size: 27px;} h2{font-size:22px;} h3{font-size: 14px} h4{font-size: 14px}
  *{
    font-size: 12px;
  }
  /*FONDO*/
  .fondo{
    padding: 5px;
  }

.contenido{
  margin-bottom: 30px;
}
.cajas__academica{
  border-radius: 2.5%;
}

.experiencia{
  width: 280px;
  height: auto;
  text-align: center;
}

.img__section{
  width: 80px;
  height: auto;
}

}